@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Rubik';
    src: url('/fonts/RubikGlitch.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf');
}
@font-face {
    font-family: 'RussoOne';
    src: url('/fonts/RussoOne.ttf');
}

body {
    background-color: #1E1E1E;
}